body {
    margin: 0;
    padding: 0;
}

.profile_img {
    vertical-align: top;
}


li.page-item.custom_mar {
    padding-left: 8px !important;
}

.drop_section_3 {
    width: 140px;
    background: white;
    border: 1px solid rgba(223, 224, 235, 1);
    color: black;
    padding: 10px 20px;
}

.drop_section_2 {
    width: 86px;
    background: white;
    border: 1px solid rgba(223, 224, 235, 1);
    color: black;
    padding: 6px 20px;
}

.drop_section_2:hover {
    width: 86px;
    background: white;
    border: 1px solid rgba(223, 224, 235, 1);
    color: black;
    padding: 6px 20px;
}

.bor_lef {
    border-left: 5px solid rgba(98, 129, 254, 1);
}



.searchbar_main_section {
    border: 1px solid rgba(225, 227, 236, 1);
    padding: 30px 0px 170px 20px;
    width: 98%;
    margin-top: 20px;
    margin-left: 12px;
}

.custom_bor_2 {
    border: none !important;
}

.searchbar_main_section_2 {
    padding: 30px 0px 170px 20px;
    width: 98%;
    margin-top: 20px;
    margin-left: 12px;
}

.card_section_2 {
    padding: 30px 0px 0px 0px;
    border-bottom: 1px solid black;
}

.card_tittle_2 {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.searchbar_text {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;

}

.border_22 {
    border: 1px solid #E1E3EC;
    border-radius: 3px;
}

.dropdown-toggle::after {
    margin-left: 16px;
    display: inline-block;
    /* margin-left: 0.255em; */
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.star_section {
    color: rgba(255, 62, 29, 1);
    font-size: 14px;
    font-weight: 600;
}

.custom_input {
    width: 65% !important;
    color: black !important;
    border-bottom: 1px solid rgba(225, 227, 236, 1) !important;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: Montserrat !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}

.custom_input_2 {
    width: 20% !important;
    color: black !important;
    border-bottom: 1px solid rgba(225, 227, 236, 1) !important;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: Montserrat !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}

.custom_input_2::placeholder {
    color: black !important;
}

.custom_input_3 {
    width: 20% !important;
    color: black !important;
    border: none;
    font-family: Montserrat !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}


.custom_input_3::placeholder {
    color: black !important;
}

.custom_input::placeholder {
    color: black !important;
}

.custom_lab {
    color: black;
    margin-left: 10px;
    font-weight: 600;
}

.form_button {
    color: white;
    background-color: #6281FE;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    border: none;
    width: 100%;
    height: 35px;
    border-radius: 4px;
    text-align: center;
}

.form_button_2 {
    color: rgba(153, 153, 153, 1);
    background: #E0E2E6;
    border: 1px solid rgba(153, 153, 153, 1);
    border-radius: 3px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    height: 35px;
    text-align: center;
}

.main_profile_section {
    text-align: end !important;
}

.logo_text {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
}

